<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create-transaction">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-select (ionChange)="sortTransactions($event.target.value)" [interfaceOptions]="customPopoverOptions"
      interface="popover" placeholder="Sorting">
      <ion-select-option value="dateUp">Sorting by date &#8593;</ion-select-option>
      <ion-select-option value="dateDown">Sorting by date &#8595;</ion-select-option>
      <ion-select-option value="nameUp">Sorting by name &#8593;</ion-select-option>
      <ion-select-option value="nameDown">Sorting by name &#8595;</ion-select-option>
      <ion-select-option value="amountUp">Sorting by amount &#8593;</ion-select-option>
      <ion-select-option value="amountDown">Sorting by amount &#8595;</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngIf="(getTransactionsListStatus$ | async) === 'pending'">Loading...</ion-item>
    <ion-item color="danger" *ngIf="(getTransactionsListStatus$ | async) === 'error'">Something went wrong! Please, check your internet connection.</ion-item>
    <ion-item *ngIf="(getTransactionsListStatus$ | async) === 'success' && transactionsList.length === 0">
      There is nothing!</ion-item>
    <ion-item *ngFor="let item of transactionsList">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <p>Name</p> {{item.username}}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <p>Amount</p> {{item.amount}}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <p>Balance</p> {{item.balance}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <ion-label>
              <p>Date</p> {{item.date}}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-button routerLink="/create-transaction" [queryParams]="{
            'username': item.username, 
            'amount': item.amount
          }">
              Repeat
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>
</ion-content>