form {
    padding: 10px;
}

ion-item {
    margin-bottom: 10px;
}

ion-button {
    margin-top: 50px;
}

ion-text {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
    line-height: 1.8;
}