<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <form [formGroup]="formGroup" (ngSubmit)="submit($event)" novalidate>

        <ion-item>
          <ion-label >Email address:</ion-label>
          <ion-input formControlName="email" type="email"placeholder="Enter email"></ion-input>
        </ion-item>
        <ion-item *ngIf="formGroup.controls['email'].invalid && formGroup.controls['email'].touched" color="danger">
          Email is incorrect!
        </ion-item>
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item *ngIf="formGroup.controls['password'].invalid && formGroup.controls['password'].touched" color="danger">
          Password is incorrect!
        </ion-item>
        <ion-button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid" expand="block">Sign in</ion-button>
      </form>

      <ion-text color="medium">
        Don’t have an account?<br>
        <a routerLink="/sign-up">Sing up</a>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>