<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button (click)="modalCtrl.dismiss()" defaultHref="/create-transaction"></ion-back-button>
        </ion-buttons>
        <ion-title>Searchbar</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionInput)="getUsersList($event.target.value)"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item *ngIf="(getUsersListStatus$ | async) === 'pending'">Loading...</ion-item>
        <ion-item *ngIf="(getUsersListStatus$ | async) === 'error'">Error!</ion-item>
        <ion-item *ngIf="(getUsersListStatus$ | async) === 'success' && usersList?.length === 0">Nothing is
            found!</ion-item>
        <ion-item *ngFor="let opt of usersList"  (click)="selectUser(opt);">
            {{opt.name}}
        </ion-item>
    </ion-list>
</ion-content>