<ion-tabs>
  <ion-tab-bar slot="bottom" selectedTab="0">

    <ion-tab-button routerLink="/user-info" routerLinkActive="tab-selected">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account Information</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/transactions-list" routerLinkActive="tab-selected">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Transactions List</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>