<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="(mainService?.getUserInfoStatus$ | async) === 'pending'">Loading...</ion-item>
  <ion-item color="danger" *ngIf="(mainService?.getUserInfoStatus$ | async) === 'error'">Something went wrong! Please, check your internet connection.</ion-item>
  <ion-item *ngIf="(mainService?.getUserInfoStatus$ | async) === 'success' && (mainService?.userInfo$ | async) === null">Your Account Information is absent!</ion-item>
  <ion-card *ngIf="(mainService?.userInfo$ | async) !== null">
    <ion-card-header>
      <ion-card-subtitle>Infomation Card</ion-card-subtitle>
      <ion-card-title>Your Account Information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="card-text" *ngFor="let item of (mainService?.userInfo$ | async) | keyvalue">
        {{ item.key }} : <b>{{ item.value }}</b>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
