<ion-menu side="start" menuId="first" contentId="nav" #nav>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="(authService?.hasAuth$ | async)" (click)="nav.close()" routerLink="/user-info">
        <ion-icon name="person"></ion-icon>
        User Information
      </ion-item>
      <ion-item *ngIf="(authService?.hasAuth$ | async)" (click)="nav.close()" routerLink="/transactions-list">
        <ion-icon name="card-outline"></ion-icon>
        Transactions List
      </ion-item>
      <ion-item *ngIf="!(authService?.hasAuth$ | async)" (click)="nav.close()" routerLink="/sign-in">
        Sign In
      </ion-item>
      <ion-item *ngIf="!(authService?.hasAuth$ | async)" (click)="nav.close()" routerLink="/sign-up">
        Sign Up
      </ion-item>
      <ion-item *ngIf="(authService?.hasAuth$ | async)" (click)="authService?.logout(); nav.close();">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav">
  <ion-router-outlet></ion-router-outlet>
</ion-nav>