<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
        <ion-item>
          <ion-label>User name:</ion-label>
          <ion-input formControlName="username" type="username" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item *ngIf="formGroup.controls['username'].invalid && formGroup.controls['username'].touched" color="danger">
          User name is incorrect!
        </ion-item>
        <ion-item>
          <ion-label>Email address:</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Enter email"></ion-input>
        </ion-item>
        <ion-item *ngIf="formGroup.controls['email'].invalid && formGroup.controls['email'].touched" color="danger">
          Email is incorrect!
        </ion-item>
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Password" autocomplete></ion-input>
        </ion-item>
        <ion-item *ngIf="formGroup.controls['password'].invalid && formGroup.controls['password'].touched" color="danger">
          Password is incorrect!
        </ion-item>
        <ion-button [disabled]="formGroup.invalid" type="submit" expand="block">Regist</ion-button>
      </form>

      <ion-text color="medium">
        Have you already had an account?<br>
        <a routerLink="/sign-in">Sing in</a>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>