:host {
    width: 100%;
}

form {
    padding: 10px;
}

ion-item {
    margin-bottom: 10px;
}

.mt-50 {
    margin-top: 50px;
}

ion-text {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
    line-height: 1.8;
}
