<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transactions-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <ion-item *ngIf="
    (formGroup.controls['name'].invalid && formGroup.controls['name'].touched) ||
    (formGroup.controls['amount'].invalid && formGroup.controls['amount'].touched)
    " color="danger">
      User name and(or) Amount are incorrect!
    </ion-item>

    <ion-item>
      <ion-label>User name:</ion-label>
      <ion-input class="name-input" formControlName="name" type="text" (focus)="$event.preventDefault()"></ion-input>
      <ion-button (click)="presentModal()">Choose User</ion-button>
    </ion-item>
    

    <ion-item>
      <ion-label>Amount:</ion-label>
      <ion-input formControlName="amount" type="number" placeholder="Enter amount"></ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="formGroup.controls['amount'].invalid && formGroup.controls['amount'].touched" color="danger">
      Amount is incorrect!
    </ion-item> -->

    <ion-button [disabled]="formGroup.invalid" type="submit" expand="block" class="mt-50">Create transaction</ion-button>
  </form>
</ion-content>
